	<div class="col-md-6 col-sm-12 col-xs-12 indexbox" style="padding-left: 0px; padding-right: 0px; margin:0px 0px 20px 20px; border-style: solid; border-width: 4px 4px 4px 4px; border-color: #ed3d7b; box-shadow: 10px 10px 0px rgba(174, 115, 136, 0.5); background-color: #ffe2a9; float: left;" >
		<div class="row" id="columnparent">
		  <div class="col-md-4 col-sm-4 col-xs-4" id="listingpic" style="width 200px; height: auto; padding: 0; border-style: solid; border-width: 0px 4px 4px 0px; border-color: #ed3d7b; ">
            <% if listing.cover.blank? or !Picture.find_by_id(listing.cover) %>
              <a href="<%= listing_path(:id => listing.id) %>">
                <img src="/assets/NoImageAvailable.jpg" class="img-responsive" alt="">
              </a>
            <% else %>
			  <figure>
              <a href="<%= listing_path(:id => listing.id) %>" style="display: block;, position: relative;">
                <img src="<%= Picture.find_by_id(listing.cover).image.preview.url %>" class="img-responsive" style="width 200px; height: auto;" alt="">
				<figcaption><%= pluralize(listing.gallery.pictures.count, "photo") %> </figcaption>
              </a>
			  </figure>
            <% end %>
			
		  </div>
		  
		  <div class="col-md-8 col-sm-8 col-xs-8" style="padding: 0; overflow: hidden;">
			<div class="row" style="overflow: hidden;">
				<h3 style="border-style: solid; border-width: 0px 0px 8px 0px; border-color: #ed3d7b; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; margin-left 40px; color: #ed3d7b; font-weight: bold;"><%= listing.address %></h1>
			
			

		  <div class="col-md-5 col-sm-5 col-xs-5" style="line-height: 1; margin: 10px 0px; color: #ed3d7b; font-weight: 100; font-size: 1.3em; float: left;">
			<span class="category" style="margin-left: -5%; font-size: 1.2em;"><%= listing.category %></span></br>
			<span class="price" style="font-size: 1.7em; ">$<%= number_with_delimiter(listing.price) %></span></br>
			<span class="bedrooms"><%= pluralize(listing.beds, "bedroom") %></span></br>
			<span class="bathrooms"><%= pluralize(listing.bathrooms, "bathroom") %></span>
		  </div>
		  
		  <div class="col-md-7 col-sm-7 col-xs-7" style="line-height: 1; margin-top: 5%; color: #ed3d7b; font-weight: 100; font-size: 1.3em; float: left;">
		    <span class="buildingsize"><%= number_with_delimiter(listing.sqft) %> sqft</span></br>
			<span class="lotsize"><%= number_with_delimiter(listing.lotsize) %> ac.lot</span></br>
			<span class="yearbuilt">Built in <%= listing.yearbuilt %></span>
			<% if signed_in? %>
			    <span class="buttons">
                  <a href="<%= edit_listing_path(:id => listing.id) %>" class="btn btn-mini btn-warning" style="padding:0px">
                    <i class="glyphicon glyphicon-edit "></i>
                    Edit
                  </a>
				  <% end %></br>
			<span class="created" style="text-align: center; color: #6caba4; font-weight: 100;"><%= time_ago_in_words(listing.created_at) %> ago.</span>
			    <% if signed_in? %>
                  <a class="btn btn-mini btn-danger btn-delete" style="padding:0px" confirm="Are you sure?" data-method="delete" href="<%= listing_path(:id => listing.id) %>" data-remote=true>
                    <i class="glyphicon glyphicon-trash"></i>
                    Delete
                  </a>
			    </span>
			
			  <% end %>
		  </div>
		 </div>
			
	  </div>
	</div>
   </div>