

<div class="row" style="clear:both; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;">
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-" id="sidebarcontainer" style="overflow-y: scroll; z-index: 10; box-shadow: 10px 0px 0px rgba(0, 64, 64, 0.5); box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; display: block; margin-left: -20px; float: left; height:100%; position: fixed; background-color: #fee5b5; border-color: #ed3d7b; border-style: solid; border-width: 0px 10px 10px 0px;">
		<div class="" id="sidebar" style="">
			<%= search_form_for @q do |f| %>
				<h1  style="text-shadow: 5px 5px #a0fff4; color: #ed3d7b;">SEARCH</h3>
				<%= f.label "Address" %>
				<%= f.text_field :address_cont_any %>
				
				<%= f.label "Price Range:" %>
				<%= f.label "From" %>
				<%= f.text_field :price_gteq %>
				<%= f.label "To" %>
				<%= f.text_field :price_lteq %>
				
				<%= f.label "Number of Bathrooms" %>
				<%= f.text_field :bathrooms_lteq %>
				
				<%= f.label "Number of Bedrooms" %>
				<%= f.text_field :beds_lteq %>
				
				<%= f.label "Year Built" %>
				<%= f.text_field :yearbuilt_matches %>
				
				<%= f.label "Floors" %>
				<%= f.text_field :floors_eq %>
				
				<%= f.label "Basement" %>
				<%= f.text_field :basement_present %>
				
				<%= f.label "Garage" %>
				<%= f.text_field :garage_present %>
				
				<%= f.label "Pool" %>
				<%= f.text_field :pool_present %>
				
				<%= f.label "Central Air Conditioning" %>
				<%= f.text_field :ac_present %>
				
				<%= f.label "County" %>
				<%= f.text_field :county %>
				
				<%= f.label "Subdivision" %>
				<%= f.text_field :subdivision %>
				
				
				<%= f.submit "Search", class: "btn btn-large btn-search"  %></br></br></br>
			<% end %>
		</div>
	  </div>
<h1 style="text-shadow: 5px 5px #ffd484; width: 80%; margin-left: 371px; margin-top: 3%; letter-spacing: 100px; color: #ed3d7b; font-size: 8em; font-weight: 100; float: left; clear:both;">LISTINGS</h1>

<% if signed_in? %>
<%= link_to 'New Listing', new_listing_path, :class => 'btn btn-lg btn-primary', :style => "margin: 10px 10px 20px 371px; padding: 10px 20px; font-size: 2em; font-weight: bold;" %>
<% end %>
  <ul class="thumbnails files" style="margin-left: 361px;">
  

		<%= render @listings %>

  </ul>

  
</div>