

  
<input type="hidden" id="galleryID" value="<%= @listing.gallery.id %>">
<input type="hidden" id="listing_id" value="<%= @listing.id %>">

	
  <div class="row" id="show" style="overflow: hidden; width: 80%; box-shadow: 10px 10px 0px rgba(174, 115, 136, 0.5); padding-bottom: 20px; margin-bottom: 20px; background-color: #ffe2a9; border-style: solid; border-color: #ed3d7b; border-width: 4px; margin-left: auto; margin-right: auto;">
	<p><h1 style="border-style: solid; border-color: #ed3d7b; border-width: 0px 0px 8px 0px;"><%= @listing.address %></h1></p>
	
  
	<div class="col-md-4 col-sm-4 col-xs-4" id="coverdiv" style="box-shadow: 10px 10px 0px rgba(0, 64, 64, 0.3); background-color: #fc6b9e; border-style: solid; border-width: 4px 4px 4px 4px; border-color: #26f5fd; box-sizing: border-box; padding: 20px; float: left;">
      <% if @listing.cover.blank? or !Picture.find_by_id(@listing.cover) %>
			<figure>
              <a href="<%= listing_path(:id => @listing.id) %>"  id="cover">
                <img src="/assets/NoImageAvailable.jpg" class="img-responsive" id="coverimg" alt="">
				<figcaption><%= pluralize(@listing.gallery.pictures.count, "photo") %> </figcaption>
              </a>
			</figure>
            <% else %>
			<figure>
              <a href="<%= Picture.find_by_id(@listing.cover).image.url %>" rel="gallery" class="picture"  id="cover">
				
                <img src="<%= Picture.find_by_id(@listing.cover).image.medium.url %>" class="img-responsive" style="margin-right: auto; margin-left: auto; border-style: solid; border-width: 4px 4px 4px 4px; border-color: #26f5fd;" id="coverimg" alt="">
				<figcaption><%= pluralize(@listing.gallery.pictures.count, "photo") %> </figcaption>
              </a>
			</figure>
      <% end %>

		  <div class="thumbnail hidden-sm hidden-xs" id="picturegallery" style="float: left; text-align: center; background-color: #fc6b9e;">
			<% @listing.gallery.pictures.each do |pic| %>
			  <% unless pic.image.blank? || pic.id == @listing.cover %>
				<a href="<%= pic.image.url %>" rel="gallery" class="picture" style="width: 100px;" id="cover">
					<img src="<%= pic.image.thumb.url %>" class="img-responsive" style="margin: 2px 0px 2px 0px; width: 100px; border-style: solid; border-width: 1px 1px 1px 1px; border-color: #26f5fd;">
				</a>
			  <% end %>
			<% end %>
		  </div>
	</div>

    <div class="col-md-8 col-sm-8 col-xs-8" style="text-align:center; margin-right: auto; margin-left: auto;">
	 
	  <h2 class=".h2" style="border-style: solid; border-color: #ed3d7b; border-width: 0px 0px 2px 0px;text-align: center;"><%= @listing.category %> for $ <%= number_with_delimiter(@listing.price) %></h3>
	  <div class="col-md-5 col-sm-5 col-xs-7" id="attributes1" style="background-color: #fee8bd; padding: 20px; box-shadow: 10px 10px 0px rgba(174, 115, 136, 0.5); padding-bottom: 20px; margin-bottom: 20px; border-style: solid; border-color: #ed3d7b; border-width: 4px; line-height: 1.3;">
		<span class="bedrooms"><%= pluralize(@listing.beds, "bedroom") %></span></br>
		<span class="bathrooms"><%= pluralize(@listing.bathrooms, "bathroom") %></span></br>
		<span class="buildingsize"><%= number_with_delimiter(@listing.sqft) %> sqft</span></br>
		<span class="lotsize"><%= number_with_delimiter(@listing.lotsize) %> ac.lot</span></br>
		<span class="yearbuilt">Built in <%= @listing.yearbuilt %></span></br>
		<span class="County"><%= @listing.county %></span></br>
	  </div>
	 
	  <div class="col-md-5 col-sm-5 col-xs-7" id="attributes2" style="background-color: #fee8bd; padding: 20px; box-shadow: 10px 10px 0px rgba(174, 115, 136, 0.5); padding-bottom: 20px; margin-bottom: 20px; border-style: solid; border-color: #ed3d7b; border-width: 4px; line-height: 1.3;>
		<span class="floors"><%= pluralize(@listing.floors, "floor") %></span></br>
		<span class="occupied">Occupied: <%= @listing.occupied %></span></br>
		<span class="basement">Basement: <%= @listing.basement %></span></br>
		<span class="garage">Garage: <%= @listing.garage %></span></br>
		<span class="Air Conditioning">Air Conditioning: <%= @listing.ac %></span></br>
		<span class="Subdivision"><%= @listing.subdivision %></span></br>
		
	  </div>
	</div>
	 
	 <!--<table id="listing_att" style="float: right; margin-left: 20px; line-height: 2; padding: 20px; font-weight: 100; font-size: 1.3em;">
	  <tbody>
		<tr>
			<td>County</td>
			<td><%= @listing.county %></td>
		</tr>
		<tr>
			<td>Subdivision </td>
			<td><%= @listing.subdivision %></td>
		</tr>
  
	  </tbody>
	</table>-->
	
	
	<% if @listing.addinfo != "" %>
	  <div class="col-md-7 col-sm-11 col-xs-11" id="description" style="margin-left: 15px; margin-top: 20px; background-color: #fee8bd; box-shadow: 10px 10px 0px rgba(174, 115, 136, 0.5); padding-bottom: 20px; margin-bottom: 20px; border-style: solid; border-color: #ed3d7b; border-width: 4px; padding: 20px;">
		<h4 style="border-style: solid; border-color: #ed3d7b; border-width: 0px 0px 2px 0px;">Description</h4>
		<p><%= @listing.addinfo %></p>
	  </div>
	<% end %>
	</div>

<div style="margin-left:20%; margin-right: 20%;" class="row">
  <div class="form-actions">
    <%= link_to 'Back', listings_path, :class => 'btn'  %>
    <%= link_to 'Edit', edit_listing_path(@listing), :class => 'btn btn-warning' %>
    <%= link_to 'Delete', listing_path(@listing), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
  </div>
</div>
	
	<div class="row" style="box-shadow: 10px 10px 0px rgba(174, 115, 136, 0.5); background-color: #ffedca; border-style: solid; border-color: #ed3d7b; border-width: 4px; margin-left: 20%; margin-right: 20%;">
<% if signed_in? %>
  <h2 style="margin-left: 20%; margin-right: 20%;">Pictures</h2>

<%= form_for [@listing, @listing.gallery, @gallery.pictures.build], :html => { :multipart => true, :id => "fileupload"  } do |f| %>
  <input type="hidden" id="listing_id" value="<%= @listing.id %>">
  <div class="row" style="margin-left: 20%;">
    <div class="fileupload-buttonbar">
      <div class="progress progress-bar fileupload-progressbar"role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"><div style="width:0%;"></div></div>
      <span class="btn btn-primary fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span><%= t('photos.add_files') %>...</span>
        <%= f.file_field :image, :multiple => true %>
      </span>
    </div>
  </div>
  </br>
  <div class="row">

    <ul class="thumbnails files">
       <%= render @listing.gallery.pictures %>
	</ul>

  </div>
<% end %>
</div>


<script>
  var fileUploadErrors = {
    maxFileSize: 'File is too big',
    minFileSize: 'File is too small',
    acceptFileTypes: 'Filetype not allowed',
    maxNumberOfFiles: 'Max number of files exceeded',
    uploadedBytes: 'Uploaded bytes exceed file size',
    emptyResult: 'Empty file upload result'
  };
</script>

<script id="template-download" type="text/html">
  {% for (var i=0, files=o.files, l=files.length, file=files[0]; i<l; file=files[++i]) { %}
  <tr class="template-download nofade">
    {% if (file.error) { %}
    <td></td>
    <td class="name">{%=file.name%}</td>
    <td class="size">{%=o.formatFileSize(file.size)%}</td>
    <td class="error" colspan="2"><span class="label important">Error</span> {%=fileUploadErrors[file.error] || file.error%}</td>
    {% } else { %}
    <td class="preview">{% if (file.thumbnail_url) { %}
      <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery"><img src="{%=file.thumbnail_url%}"></a>
    {% } %}</td>
    <td class="name">
      <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}">{%=file.name%}</a>
    </td>
    <td class="size">{%=o.formatFileSize(file.size)%}</td>
    <td colspan="2"></td>
    {% } %}
    <td class="delete">
    <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"><%= t('photos.template.delete') %></button>
    <input type="checkbox" name="delete" value="1">
    </td>
  </tr>
  {% } %}
</script>
<% end %>

