<li>
	<span class="image"><%= listing.image %></span>
	<span class="address"><%= listing.address %></span>
	<span class="beds"><%= listing.beds %></span>
	<span class="bathrooms"><%= listing.bathrooms %></span>
	<span class="price"><%= listing.price %></span>
	<span class="sqft"><%= listing.sqft %></span>
	<span class="addinfo"><%= listing.addinfo %></span>
	<span class="timestamp"><%= time_ago_in_words(listing.created_at) %> ago.
	</span>
</li>
	